################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*.*
/.vs/Temiang.Avicenna
/.vs/YBRS
/Temiang.Avicenna/obj
/Temiang.Avicenna/bin
/Temiang.Avicenna.Bridging.PCare/obj
/Temiang.Avicenna.Bridging.PCare/bin
/Temiang.Avicenna.Bridging.SatuSehat/obj
/Temiang.Avicenna.Bridging.SatuSehat/bin
/Temiang.Avicenna.BusinessObject/obj
/Temiang.Avicenna.BusinessObject/bin
/Temiang.Avicenna.Common/obj
/Temiang.Avicenna.Common/bin
/Temiang.Avicenna.ReportDataSource/obj
/Temiang.Avicenna.ReportDataSource/bin
/Temiang.Avicenna.ReportLibrary/obj
/Temiang.Avicenna.ReportLibrary/bin
/Temiang.Avicenna.ReportLibrary.Custom/obj
/Temiang.Avicenna.ReportLibrary.Custom/bin
/Temiang.Avicenna.Tests/obj
/Temiang.Avicenna.Tests/bin
/Temiang.Avicenna/obj/Debug/Temiang.Avicenna.csproj.AssemblyReference.cache
/.vs/Temiang.Avicenna/config/applicationhost.config
/.vs/Temiang.Avicenna/v17/fileList.bin
/.vs/Temiang.Avicenna/v17/.suo
/Temiang.Avicenna.Bridging.PCare/obj/Debug/Temiang.Avicenna.Bridging.PCare.csproj.AssemblyReference.cache
/Temiang.Avicenna.Bridging.SatuSehat/obj/Debug/Temiang.Avicenna.Bridging.SatuSehat.csproj.AssemblyReference.cache
/Temiang.Avicenna.BusinessObject/obj/Debug/Temiang.Avicenna.BusinessObject.csproj.AssemblyReference.cache
/Temiang.Avicenna.Common/obj/Debug/Temiang.Avicenna.Common.csproj.AssemblyReference.cache
/Temiang.Avicenna.ReportLibrary/obj/Debug/Temiang.Avicenna.ReportLibrary.csproj.AssemblyReference.cache
/Temiang.Avicenna.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Temiang.Avicenna.Tests/obj/Debug/Temiang.Avicenna.Tests.csproj.AssemblyReference.cache

# User-specific files
*.suo
*.user
*.userosscache
*.cache
/Temiang.Avicenna.BusinessObject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/Temiang.Avicenna/v17/HierarchyCache.v1.txt
/Temiang.Avicenna/.vs/Temiang.Avicenna.csproj.dtbcache.json
/Temiang.Avicenna/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/AvicennaSCI/v17/.wsuo
/.vs/AvicennaSCI/v17/DocumentLayout.json
/.vs/Temiang.Avicenna/v17/HierarchyCache.v1.txt
/.vs/YBRS-EMR_GitYbrs/v17/.wsuo
/.vs/YBRS-EMR_GitYbrs/v17/DocumentLayout.json
/.vs/ybrsgkp-avicenna/FileContentIndex/191de1c9-c7b6-49b6-9315-92d0f2cfd276.vsidx
/.vs/ybrsgkp-avicenna/FileContentIndex/25be33b7-b7d1-4fcc-acd8-bd6fa9b94212.vsidx
/.vs/ybrsgkp-avicenna/FileContentIndex/3638f60b-54c5-4041-8ebb-270baf5849d7.vsidx
/.vs/ybrsgkp-avicenna/FileContentIndex/4a4d5f0d-7851-41a7-8c91-6d6859e07066.vsidx
/.vs/ybrsgkp-avicenna/FileContentIndex/6ee49c20-09c8-41f8-abf3-c7c17b580776.vsidx
/.vs/ybrsgkp-avicenna/FileContentIndex/84f8ada5-258d-408d-bc6d-4dd039923f00.vsidx
/.vs/ybrsgkp-avicenna/FileContentIndex/89f6a45e-a6d2-4282-9f08-c2964b7da710.vsidx
/.vs/ybrsgkp-avicenna/FileContentIndex/8dafd3c0-3e04-4fa1-a7e9-0d3857405e18.vsidx
/.vs/ybrsgkp-avicenna/FileContentIndex/c6a3be08-d032-4185-89cd-2c5024b02718.vsidx
/.vs/ybrsgkp-avicenna/FileContentIndex/fafdbd58-06f8-4a66-98ef-dae610454240.vsidx
/.vs/VSWorkspaceState.json
/.vs/ybrsgkp-avicenna/v17/.wsuo
/Temiang.Avicenna/.vs/Temiang.Avicenna.csproj.dtbcache.json
/.vs/Temiang.Avicenna/v17/TestStore/0/000.testlog
/.vs/Temiang.Avicenna/v17/TestStore/0/testlog.manifest
