################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temiang.Avicenna/obj/Debug/Temiang.Avicenna.csproj.FileListAbsolute.txt
