/************************************************************
 * Code formatted by SoftTree SQL Assistant © v11.3.277
 * Time: 03/02/2025 15:34:25
 ************************************************************/

CREATE PROCEDURE [dbo].[sprpt_RL3_16V2025Rpt]
	@RlTxReportNo VARCHAR(20)
AS
	SET NOCOUNT ON
	
	--DECLARE
	--	@RlTxReportNo VARCHAR(20) = 'RL/250203-0002'
	
	SELECT 'RL 3.16 Rekapitulasi Kegiatan Pelayanan Keluarga Berencana' AS ReportName,
	       rtr.*,
	       rmri.RlMasterReportItemName,
	       CASE 
	            WHEN rtr3.PeriodMonthStart = rtr3.PeriodMonthEnd THEN 'Periode : ' +
	                 asri.ItemName + ' ' + rtr3.PeriodYear
	            ELSE 'Periode : ' + asri.ItemName + ' s/d ' + asri2.ItemName +
	                 ' ' +
	                 rtr3.PeriodYear
	       END         AS Periode,
	       h.HealthcareName,
	       h.City,
	       h.HospitalCode,
	       ''          AS KodePropinsi
	FROM   Healthcare     h,
	       RlTxReport3_16V2025 rtr
	       INNER JOIN RlTxReportV2025 rtr3
	            ON  rtr.RlTxReportNo = rtr3.RlTxReportNo
	       INNER JOIN RlMasterReportItemV2025 rmri
	            ON  rmri.RlMasterReportItemID = rtr.RlMasterReportItemID
	       INNER JOIN RlMasterReportV2025 rmr
	            ON  rmr.RlMasterReportID = rmri.RlMasterReportID
	       INNER JOIN AppStandardReferenceItem asri
	            ON  asri.StandardReferenceID = 'MonthID'
	            AND CAST(asri.ItemID AS INT) = CAST(rtr3.PeriodMonthStart AS INT)
	       INNER JOIN AppStandardReferenceItem asri2
	            ON  asri2.StandardReferenceID = 'MonthID'
	            AND CAST(asri2.ItemID AS INT) = CAST(rtr3.PeriodMonthEnd AS INT)
	WHERE  rtr.RlTxReportNo = @RlTxReportNo
	ORDER BY
	       rtr.RlMasterReportItemID ASC
	