 
CREATE PROCEDURE [dbo].[spxml_RL3_12V2025]  
 @RlTxReportNo VARCHAR(20)  
AS 
  
SET NOCOUNT ON   
  
--DECLARE @RlTxReportNo VARCHAR(20) = 'RL/250130-0001'  
  
SELECT   
'RL 3.12 REKAPITULASI KEGIATAN PELAYANAN PEMBEDAHAN' AS ReportName,  
CASE    
    WHEN b.PeriodMonthStart = b.PeriodMonthEnd THEN 'Periode : ' +  asri.ItemName + ' ' + b.PeriodYear   
    ELSE 'Periode : ' + asri.ItemName + ' s/d ' + asri2.ItemName + ' ' +  b.PeriodYear   
END AS Periode,
c.RlMasterReportItemName,
a.Khusus,
a.Besar,
a.Sedang,
a.Kecil,
a.Total
FROM RlTxReport3_12V2025 AS a  
INNER JOIN RlTxReportV2025 AS b ON b.RlTxReportNo = a.RlTxReportNo  
INNER JOIN RlMasterReportItemV2025 AS c ON c.RlMasterReportItemID = a.RlMasterReportItemID   
INNER JOIN AppStandardReferenceItem asri   
    ON  asri.StandardReferenceID = 'MonthID'   
    AND asri.ReferenceID = b.PeriodMonthStart   
INNER JOIN AppStandardReferenceItem asri2   
    ON  asri2.StandardReferenceID = 'MonthID'   
    AND asri2.ReferenceID = b.PeriodMonthEnd   
WHERE a.RlTxReportNo = @RlTxReportNo  
ORDER BY c.RlMasterReportItemID ASC