
ALTER FUNCTION [dbo].[TestResultLineToRowsV2]
(
	@sText      VARCHAR(MAX)
)
RETURNS @retArray TABLE (VALUE VARCHAR(MAX))
AS
BEGIN
	
	--DECLARE @retArray TABLE (VALUE VARCHAR(MAX))
	--DECLARE @sText VARCHAR(MAX) = '<table>     <tbody>     </tbody> </table> <p>Hasil Pemeriksaan</p> <table>     <tbody>         <tr>             <td>No</td>             <td>Nama <br />             </td>             <td>&nbsp;Nilai</td>         </tr>         <tr>             <td>&nbsp;1</td>             <td>&nbsp;Pemeriksaan 1<br />             </td>             <td>&nbsp;1</td>         </tr>         <tr>             <td>&nbsp;2</td>             <td>&nbsp;P2</td>             <td>&nbsp;2</td>         </tr>         <tr>             <td>&nbsp;3</td>             <td>&nbsp;P3</td>             <td>&nbsp;3</td>         </tr>         <tr>             <td>&nbsp;4</td>             <td>&nbsp;P4</td>             <td>&nbsp;4</td>         </tr>     </tbody> </table> <p>Hasil lainnya</p> <p>&nbsp;</p> <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;     mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;">     <tbody>         <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;">             <td rowspan="2" valign="top" style="width:28.1pt;border:solid windowtext 1.0pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">No</p>             </td>             <td colspan="2" valign="top" style="width:134.7pt;border:solid windowtext 1.0pt;             border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:             solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">Test 1</p>             </td>             <td colspan="2" valign="top" style="width:148.8pt;border:solid windowtext 1.0pt;             border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:             solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">Test 2</p>             </td>             <td rowspan="2" valign="top" style="width:92.15pt;border:solid windowtext 1.0pt;             border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:             solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">Kesimpulan</p>             </td>         </tr>         <tr style="mso-yfti-irow:1;">             <td valign="top" style="width:3.0cm;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">Teks</p>             </td>             <td valign="top" style="width:49.65pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">Nilai</p>             </td>             <td valign="top" style="width:99.2pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">Teks</p>             </td>             <td valign="top" style="width:49.6pt;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">Nilai</p>             </td>         </tr>         <tr style="mso-yfti-irow:2;">             <td valign="top" style="width:28.1pt;border:solid windowtext 1.0pt;             border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;             padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">1</p>             </td>             <td valign="top" style="width:3.0cm;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">Teks 1</p>             </td>             <td valign="top" style="width:49.65pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">1</p>             </td>             <td valign="top" style="width:99.2pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">Teks 2</p>             </td>             <td valign="top" style="width:49.6pt;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">2</p>             </td>             <td valign="top" style="width:92.15pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">Baik</p>             </td>         </tr>         <tr style="mso-yfti-irow:3;">             <td valign="top" style="width:28.1pt;border:solid windowtext 1.0pt;             border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;             padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">2</p>             </td>             <td valign="top" style="width:3.0cm;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:49.65pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:99.2pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:49.6pt;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:92.15pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>         </tr>         <tr style="mso-yfti-irow:4;">             <td valign="top" style="width:28.1pt;border:solid windowtext 1.0pt;             border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;             padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">3</p>             </td>             <td valign="top" style="width:3.0cm;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:49.65pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:99.2pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:49.6pt;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:92.15pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>         </tr>         <tr style="mso-yfti-irow:5;">             <td valign="top" style="width:28.1pt;border:solid windowtext 1.0pt;             border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;             padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">4</p>             </td>             <td valign="top" style="width:3.0cm;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:49.65pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:99.2pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:49.6pt;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:92.15pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>         </tr>         <tr style="mso-yfti-irow:6;mso-yfti-lastrow:yes;">             <td valign="top" style="width:28.1pt;border:solid windowtext 1.0pt;             border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;             padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">5</p>             </td>             <td valign="top" style="width:3.0cm;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:49.65pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:99.2pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:49.6pt;border-top:none;border-left:none;             border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>             <td valign="top" style="width:92.15pt;border-top:none;border-left:             none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;             mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;             mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;">             <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:             normal;">&nbsp;</p>             </td>         </tr>     </tbody> </table> <br />'
	
	DECLARE @delims TABLE(
		dId INT, 
		dText VARCHAR(10), 
		dTextStart1 VARCHAR(12),
		dTextStart2 VARCHAR(12),
		dTextEnd VARCHAR(13),
		iStart INT, 
		iEnd INT
	)
	
	DECLARE @sDelim VARCHAR(8) = ''
	DECLARE @value            VARCHAR(MAX),
	        @bcontinue        BIT = 1,
	        @iStrike          INT,
	        @iLoopMax INT
	
	INSERT INTO @delims(dId, dText) VALUES(1,'p')/*,(2,'P')*/,(3,'table')--,(4,'TABLE')
	
	UPDATE @delims SET 
		dTextStart1 = ('<' + dText + ' '),
		dTextStart2 = ('<' + dText + '>'),
		dTextEnd = ('</' + dText + '>')
		
	SET @iLoopMax = 0 -- in case something goes wrong, break the loop
	
	WHILE (@bcontinue = 1 AND @iLoopMax < 1000)
	BEGIN
	    --SELECT @sText
	    UPDATE @delims SET 
			iStart = (CASE WHEN ((CHARINDEX(dTextStart2, @sText) < CHARINDEX(dTextStart1, @sText)) AND CHARINDEX(dTextStart2, @sText) > 0) THEN CHARINDEX(dTextStart2, @sText) ELSE CHARINDEX(dTextStart1, @sText) END), 
			iEnd = CHARINDEX(dTextEnd, @sText)
	    
	    --SELECT *, CHARINDEX(dTextStart1, @sText), CHARINDEX(dTextStart2, @sText), dTextStart1, dTextStart2 FROM @delims
	    
	    IF (SELECT COUNT(d.dId) FROM @delims AS d WHERE d.iStart > 0) > 0
	    BEGIN
	    	
	    	SET @sDelim = (SELECT TOP 1 dTextEnd FROM @delims AS d WHERE d.iStart > 0 ORDER BY d.iStart)
				
	        SET @value = SUBSTRING(@sText, 1, CHARINDEX(@sDelim, @sText) + LEN(@sDelim) - 1)
	        BEGIN
	            INSERT @retArray
	            VALUES (@value)
	        END
	            
	        --Trim the element and its delimiter from the front of the string.
	        --Increment the index and loop.
	        SET @iStrike = DATALENGTH(@value)
	        SET @sText = LTRIM(RIGHT(@sText, DATALENGTH(@sText) - @iStrike))
	    END
	    ELSE
	    BEGIN
	        --If you can't find the delimiter in the text, @sText is the last value in
	        --@retArray.
	        SET @value = @sText
	        BEGIN
	            INSERT @retArray
	            VALUES (@value)
	        END
	        --Exit the loop.
	        SET @bcontinue = 0
	    END
	    
	    SET @iLoopMax = @iLoopMax + 1
	END
	
	--SELECT * FROM @retArray
	
	RETURN
END